.ant-slider .ant-slider-track {
  background-color: black !important;
  z-index: 2;
}

.ant-slider-handle .ant-slider-handle-1 {
  background-color: red;
}

.ant-slider-step {
  background-color: #cecece !important;
}

.ant-slider-handle .ant-slider-handle-1::before {
  background-color: red !important;
}

.ant-slider .ant-slider-handle::after {
  background-color: black !important;
  box-shadow: none !important;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline{
    background-color: white !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline{
    border: none;
}
.ant-input-number-input-wrap{
    font-size: 14px;
    font-weight: 300;
}
/* .ant-checkbox-inner .ant-checkbox-checked-active{
    background-color: black !important;
    
} */

.ant-input-number-outlined:hover{
   border:1px solid #cecece;
}

/* .ant-checkbox-wrapper-checked:hover{
  border:1px solid #cecece !important; 

} */

/* } .ant-checkbox-wrapper-checked{
  border: none !important;
} */

 .ant-checkbox-input:hover{
    border:none !important;
 }

 .ant-select-selector{
border-radius: 8px !important;
font-size: 13px !important;
 }

 .ant-select-selector:hover{
  border:1px solid #cecece !important;
   }

   .ant-select-selector-active{
    border: none !important;
  }
  
  /* .custom-select .ant-select-selector-item:focus,
.custom-select .ant-select-selector-item:hover {
  border-color: none !important;
  box-shadow: none !important;
} */

.ant-pagination-item a {
  color: black !important;
}
.ant-pagination-item {
  background-color: white !important;
  border: 1px solid #bebebe !important;
}

.ant-pagination-item-active a {
  color: white !important;
}

.ant-pagination-item-active {
  background-color: #000 !important;
  border: 1px solid black !important;
}

.inputBtn {
  background-color: #f5f5f5;
  height: 30px;
  width: 220px;
  padding-left: 23px;
  margin: 10px 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-image: url("/public/images/search.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 15px;
  margin-right: 30px;
}

.userbtn {
  background-color: #f3f1ff;
  height: 40px;
  width: 40%;
  padding-left: 23px;
  margin: 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-image: url("/public/images/user.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 15px;
}

@media (max-width: 767px) {
  .userbtn {
    width: 70%;
  }
}

.passwordbtn{
  background-color: #f3f1ff;
  height: 40px;
  width: 40%;
  padding-left: 23px;
  margin: 10px 5px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-image: url("/public/images/password.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  background-size: 15px;
}

@media (max-width: 767px) {
  .passwordbtn {
    width: 70%;
  }
}
